language: php

php:
  - 5.4
  - 5.5

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev
  - php artisan asset:generate

services: redis-server

script: phpunit
