pre {
    margin: 0;
}

.alert {
    padding-right: 14px;
    margin-bottom: 0;
}

.alert + .alert {
    margin-top: 20px;
}

.alert .close {
    top: 0;
    right: 0;
}

.toggle-stack {
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.pagination ul>.disabled>span,
.pagination ul>.disabled>a,
.pagination ul>.disabled>a:hover,
.pagination ul>.disabled>a:focus {
    background-color: #f5f5f5;
}
