html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#wrap > .container {
    padding: 60px 15px 0;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.container .credit {
    margin: 20px 0;
}

.jumbotron {
    text-align: center;
    margin: 80px 0;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.comment-box {
    resize: none;
}
