body {
    padding-top: 60px;
}

.jumbotron {
    text-align: center;
    margin: 80px 0;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 60px 0;
}

.comment-box {
    resize: none;
}
